.get-start {
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 9, 121, 1) 100%
  );
}
.get-danger {
  background: rgb(254, 122, 122);
  background: linear-gradient(
    90deg,
    rgba(254, 122, 122, 1) 0%,
    rgba(255, 0, 0, 1) 67%
  );
}
.login-start {
  background: rgb(0, 166, 81);
  background: linear-gradient(
    90deg,
    rgba(0, 166, 81, 1) 0%,
    rgba(141, 198, 63, 1) 100%
  );
}
.button {
  font-size: larger;
  border: 0cap;
  padding: 10px;
  border-radius: 5rem 5rem 5rem 5rem;
  padding-left: 6rem;
  padding-right: 6rem;
}
.img-start {
  width: 50rem;
}
.login-start :hover {
  background: white;
  color: black;
}

.dashboard-card {
  border-radius: 10px;
}

.dashboard-container {
  padding-top: 30px;
}
body{
  padding-top: 5rem;
}


